<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
<h5 class="my-3 border-bottom pb-2" th:text="|Register Question|" />
    <form th:action="@{/question/create}" th:object="${questionForm}" method="post">
        <div th:replace="form_errors :: formErrorsFragment" />
        <div class="mb-3">
            <label for="subject" class="form-label" th:text="Title" />
            <input type="text" th:field="*{subject}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label" th:text="Content" />
            <textarea th:filed="*{content}" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="SAVE" class="btn btn-primary" />
        <a th:href="@{/question/list}" class="btn btn-secondary" th:text="Back">bb</a>
    </form>
</div>
</html>