<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container my-3">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th th:text="No" />
          <th th:text="Title" />
          <th th:text="Date" />
        </tr>
      </thead>
      <tbody>
        <tr th:each="question, loop : ${questionList}">
          <td th:text="${loop.count}"></td>
          <td>
            <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
          </td>
          <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
      </tbody>
    </table>
    <a th:href="@{/question/create}" class="btn btn-primary">Register a Question</a>
  </div>
</html>